*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  height: 60px;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  margin-left: 200px;
}

.container .logo {
  max-width: 250px;
  padding: 0 10px;
  overflow: hidden;
}

.container .logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.container .logo a img {
  max-width: 100%;
  max-height: 60px;
}

.icon {
  font-size: 40px;
  font-weight: bolder;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.container .navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 10px;
}

.container .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.container .navBar ul li a {
  text-decoration: none;
  color: #999999;
  font-size: 18px;
  display: block;
  height: 60px;
  line-height: 60px;
  cursor: pointer;
  padding: 0 10px;
}

.container .navBar ul li a:hover {
  color: #ffffff;
  background: #283c86;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #45a247, #283c86);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #45a247, #283c86); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container .navBar ul .close {
  display: none;
  text-align: right;
  padding: 10px;
}

.container .navBar ul .close span {
  font-size: 40px;
  display: inline-block;
  border: 1px solid #cccccc;
  padding: 0 10px;
  cursor: pointer;
}

.container .navBar .iconBar {
  padding: 18px 8px;
  width: 50px;
  height: 60px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.container .navBar .iconBar i {
  background-color: #ffffff;
  height: 2px;
}

@media only screen and (max-width: 650px) {
  .container {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .container .logo {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .container .navBar {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
  }

  .container .navBar ul {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    position: fixed;
    left: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: #ffffff;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: left .3s;
    -o-transition: left .3s;
    transition: left .3s;
  }

  .container .navBar ul li a {
    padding: 10px;
    font-size: 16px;
    height: auto;
    line-height: normal;
    color: #555555;
  }

  .container .navBar ul .close {
    display: block;
  }

  .container .navBar .icon-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .container .navBar ._Menus-show {
    left: 0;
  }
}

#navLists li a {
  color: #fff;
}
/* Three dots in the navigation Menu */
.threeDots:after {
  content: '\2807';
  font-size: 30px;
  font-weight: bold;
  color: #fff;
}

/* Create and Update Buttons */
.btn {
  width: 75px;
  height: 35px;
  border: none;
  padding: 10px 20px 10px 20px;
  margin-top: 20px;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  font-size: 15px;
  background-color: rgb(72, 72, 241);
  cursor: pointer;
}

/* Login Button */
#login {
  width: 175px;
  height: 35px;
  margin-top: 20px;
  background-color: rgb(80, 76, 76);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
  border: none;
  cursor: pointer;
}

/* Search bar  */
.search-container input[type=text] {
    float: left;
    padding: 20px;
    border: none;
    margin-top: 13px;
    font-size: 17px;
    width: 1000px;
    margin-left: 114px;
  }

  .search-container {
    float: right;
  }

  .search-container button {
    float: right;
    padding: 20px;
    margin-top: 13px;
    margin-right: 130px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
    background: #8A2387;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F27121, #E94057, #8A2387); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  @media screen and (max-width: 600px) {
     .search-container {
      float: none;
    }
     a input[type=text] .search-container button {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
     input[type=text] {
      border: 1px solid #ccc;  
    }
  }

